h1 {
  font-size: 55px;
  color: #ffffff;
}

h2 {
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}

h3 {
  font-size: 16px;
  color: #231f20;
}

p {
  font-size: 20px;
  line-height: 22px;
  color: #e0e0e0;
}

img {
  width: 100%;
  height: auto;
}

/*------------------Utilities---------------------*/

a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

/*-----------------Colors------------------*/

.black {
  color: #231f20;
}

.blue {
  color: #70cbce;
}

.white {
  color: #ffffff;
}

.dark-blue {
  background-color: #0e1b33;
}

header {
  width: 100%;
  padding: 20px 10px 20px 10px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header-info {
  position: absolute;
  top: 30%;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 300;
  margin-left: 0px;
  margin-bottom: 12%;
  text-align:justify;
}

.header-animation {
  position: absolute;
  right: -200px;
  top: 25%;
}
#random-button{  
  margin: 0 auto;
  width:30%;
  margin:auto;
  display:block;
}
.whale {
  position: absolute;
  width: auto;
  height: 600px;
  z-index: 200;
  right: 50%;
  animation: rotation 45s infinite linear;
  transform-origin: 150%;
}

#artifact {
  display: block;
  width: 1000px;
  height: 1000px;
  border: 5px solid transparent;
  border-left-color: #4ec3cd;
  border-radius: 50%;
  -webkit-animation: reverse-rotation 30s linear infinite;
  animation: reverse-rotation 30s linear infinite;
}

#artifact:before {
  content: "";
  position: absolute;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  border: 3px solid transparent;
  border-top-color: #4ec3cd;
  border-radius: 50%;
  -webkit-animation: rotation 10s linear infinite;
  animation: rotation 10s linear infinite;
}

#artifact:after {
  content: "";
  position: absolute;
  top: 200px;
  left: 200px;
  bottom: 200px;
  right: 200px;
  border: 5px solid transparent;
  border-top-color: #4ec3cd;
  border-radius: 50%;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(350deg);
    -ms-transform: rotate(350deg);
    transform: rotate(350deg);
  }
  to {
    -webkit-transform: rotate(709deg);
    -ms-transform: rotate(709deg);
    transform: rotate(709deg);
  }
}

@keyframes reverse-rotation {
  from {
    -webkit-transform: rotate(709deg);
    -ms-transform: rotate(709deg);
    transform: rotate(709deg);
  }
  to {
    -webkit-transform: rotate(350deg);
    -ms-transform: rotate(350deg);
    transform: rotate(350deg);
  }
}


.github-btn {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 76px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.github-btn:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

.github-btn:active {
  position: relative;
  top: 1px;
}


footer {
  background: #dfdfdf;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

/* Landscape phones and down */

@media (max-width: 480px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 15px;
  }
  p {
    font-size: 12px;
  }
  .header-info {
    position:absolute;
    top: 7% !important;
  }
  .whale {
    position: absolute;
    top: 20%;
  }
  .header-animation {
    position: absolute;
    top: 55%;
  }
}

/* Landscape phone to portrait tablet */

@media (min-width: 481px) and (max-width: 767px) {
  .name {
    left: 15px;
  }
  .header-info {
    position: absolute;
    top: 100%;
  }
  .whale {
    position: absolute;
    top: 20%;
  }
  .header-animation {
    position: absolute;
    top: 55%;
  }
  #main-info {
    padding-bottom: 450px;
  }
}

/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 991px) {}
.header-info {

  top: 20%;
}

/* Desktops and laptops ----------- */

@media (min-width: 992px) and (max-width: 1199px) {}

/* Large screens ----------- */

@media (min-width: 1200px) and (max-width: 3000px) {}